<div class="ui grid">
  <div class="five wide column">
    <%= form_for application_form, html: {class: 'ui form' } do |f| %>
      <% if application_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(application_form.errors.count, "error") %> prohibited this application_form from being saved:</h2>

          <ul>
          <% application_form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :email, "E-mail" %>
        <%= f.text_field :email, required: true %>
      </div>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, required: true %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, required: true %>
      </div>

      <div class="field">
        <%= f.label :age %>
        <%= f.number_field :age, required: true %>
      </div>

      <div class="field">
        <%= f.label :interests %>
        <%= f.text_area :interests %>
      </div>

      <div class="field">
        <%= f.label :english_level %>
        <!-- <%= f.number_field :english_level %> -->
        <%= f.select(:english_level, ApplicationForm.english_levels.keys.map {|key| [key.humanize, key]}) %>
      </div>

      <div class="field">
        <%= f.label :experience %>
        <%= f.text_area :experience %>
      </div>

      <div class="field">
        <%= f.label :motivation %>
        <%= f.text_area :motivation %>
      </div>

      <div class="actions">
        <%= f.submit 'Submit', class: 'ui blue basic button' %>
      </div>
    <% end %>
  </div>
</div>
